:root {
    --background-color: #1a1a2e;
    --text-color: #ffffff;
    --input-bg: #16213e;
    --button-bg: #79d4d3;
    --button-hover: #5ea095;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login-container {
    background: var(--input-bg);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del contenedor */
    /* Mejorar márgenes para un espacio equilibrado */
    margin: 0 auto;
}

.welcome-container {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

.form-container {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text-color);
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    background-color: white;
}

button {
    background: var(--button-bg);
    color: rgb(17, 18, 88);
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Asegura que el botón tenga el mismo ancho que los campos */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}

button:hover {
    background: var(--button-hover);
}

.extra-links {
    text-align: center;
    margin-top: 10px;
}

a {
    color: var(--button-bg);
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
